.itemTitle {
    margin-top: 30px;
    margin-bottom: 20px;
}

.form-table th, .form-table td {
    padding: 0 0 10px 0;
}
@media screen and (min-width: 783px) {
    .form-table th {
        width: 250px;
    }
}

.child-table {
    width: 100%;
    margin-top: 10px;
    margin-left: 40px;
}
.form-table .child-table th {
    padding: 0;
}
.form-table .child-table td {
    padding: 5px 0 10px;
}

.plugin_intro {
    font-size: 1.4em;
    margin-bottom: 2em;
    font-weight: 600;
}

.utility_notice {
    font-size: 0.9em;
    color: #666;
}

.dashicons-warning {
    line-height: 1.4;
    font-size: 14px;
    color: #F5B027;
    margin-left:4px;
}

.tooltip {
    position: relative;
    display: inline-block;	
}
.tooltip .tooltip-text {
    visibility: hidden;
    top: 20px;
    right: 0;
    min-width:280px;
    background-color: #E4E4E4;
    border: 2px solid #3D3D3D;
    border-radius: 5px;
    font-size: 0.9em;
    color: rgb(60, 67, 74);
    padding: 4px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}